body {
  background-image: url(images/bg.jpg);
  background-color: white;
  font-family: Times, Times New Roman, Georgia, serif;
  margin: 0;
}

header {
  background-color: #fff;
}

.fioerror {
  border: 2px solid red;
}

.emailerror {
  border: 2px solid red;
}

.yoberror {
  border: 2px solid red;
}

.n_limbserror {
  border: 2px solid red;
}

.sp-sperror {
  border: 2px solid red;
}

.bioerror {
  border: 2px solid red;
}

.Galochkaerror {
  border: 2px solid red;
}

.banner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

li {
  display: flex;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

#logo {
  float: left;
  width: 100px;
  height: 100px;
}

.forma {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
}

footer {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  height: 40px;
  position: fixed;
  bottom: 0px;
}